
    <div class="ngdialog-message">
        <div class="">
            <h3>Login </h3>
        </div>
        <div class="">&nbsp;</div>
        <div class="">
          <div ng-show="vm.error" class="alert alert-danger">{{vm.errorMessage}}</div>
            <form ng-submit="vm.doLogin()" name="loginForm" novalidate >
                <div class="form-group" ng-class="{'has-error': loginForm.username.$invalid && loginForm.username.$touched}">
                    <label class="sr-only" for="username">Username</label>
                    <input type="text" class="form-control input-sm" name="username" id="username" placeholder="Username" ng-model="vm.loginData.username" ng-required="true">
                    <span class="help-block" ng-if="loginForm.username.$error.required && loginForm.username.$touched">Username is required!</span>
                </div>
                <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$touched}">
                    <label class="sr-only" for="password">Password</label>
                    <input type="password" class="form-control input-sm" name="password" id="password" placeholder="Password" ng-model="vm.loginData.password" ng-required="true">
                    <span class="help-block" ng-if="loginForm.password.$error.required && loginForm.password.$touched">Password is required!</span>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="vm.rememberMe"> Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-info btn-sm" ng-disabled="loginForm.$invalid">Sign in</button>
                <button type="button" class="btn btn-default btn-sm" ng-click=vm.closeThisDialog()>Cancel</button> &nbsp; &nbsp;
                <a ng-click=vm.openRegister()>Click here to register</a>
            </form>
        </div>
        <div>

        </div>
    </div>
