
    <div class="ngdialog-message">
        <div class="">
            <h3>{{activateTitle}} </h3>
        </div>
        <div class="">&nbsp;</div>
        <div class="well well-sm">
          To be able to send messages from your devices and sensors, you need to perform a <strong>one</strong> time activation of your MQTT broker account. You will use this credentials when you authenticate your devices.
        </div>
        <div class="" ng-show="!vm.activated">
          <div ng-show="vm.error" class="alert alert-danger">{{vm.errorMessage}}</div>
            <form ng-submit="vm.activate()" name="activationForm" novalidate >
                <div class="form-group" ng-class="{'has-error': activationForm.password.$invalid && activationForm.password.$touched}">
                    <label class="sr-only" for="password">Password</label>
                    <input type="password" class="form-control input-sm" name="password" id="password" placeholder="Create MQTT Password" ng-model="vm.activationData.password" ng-required="true">
                    <span class="help-block" ng-if="activationForm.password.$error.required && activationForm.password.$touched">Password is required!</span>
                </div>
                <button type="submit" class="btn btn-info btn-sm" ng-disabled="activationForm.$invalid">Active</button>
                <button type="button" class="btn btn-default btn-sm" ng-click=vm.closeThisDialog()>Cancel</button> &nbsp; &nbsp;
            </form>
        </div>
        <div class="" ng-if="vm.activated">
          <div class="well well-sm">
            Your MQTT credentials to connect, please take note of this:
            <ul>
              <li>Hostname: mqtt://m12.cloudmqtt.com:12337</li>
              <li>Username: {{vm.mqttUsername}}</li>
              <li>Password: {{vm.mqttPassword}}</li>
            </ul>
            <button type="button" class="btn btn-success btn-sm" ng-click=vm.goToDashboard()>Go to Dashboard</button> &nbsp; &nbsp;
          </div>
        </div>
        <div>

        </div>
    </div>
