  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }
  </style>



<div class="container-fluid">
  <!-- <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>SenseIt</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Dashboard</a></li>
        <li ng-controller="DeviceController as devCtrl"><button ng-click="devCtrl.openDeviceListModal()">Devices</button></li>
        <li ng-controller="SensorController as senCtrl"><button ng-click="senCtrl.openSensorListModal()">Sensors</button></li>
        <li><a href="#" ng-click="listTriggers()">Triggers/Alarms</a></li>
        <li><a href="#3">Settings</a></li>
      </ul><br>
    </div>
    <br> -->

    <div class="col-xs-12">
      <div class=" text-center">
        <h4 class="dashboard">Dashboard&nbsp<i class="fa fa-tachometer" aria-hidden="true"></i>
        </h4>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="box devices" ng-controller="DeviceController as devCtrl" >
            <i class="fa fa-database" aria-hidden="true"></i>
            <p class="title">DEVICES</p>
            <p class="circle">{{vm.deviceData.length}}</p>
            <div class="plus-list">
              <span class="glyphicon glyphicon-plus" ng-click="devCtrl.openDeviceModal()"><small>ADD</small></span>
              <span class="glyphicon glyphicon-th-list" ng-click="devCtrl.openDeviceListModal()"><small>&nbspEDIT</small></span>
            </div>
          </div>
        </div>
        <div class="col-sm-3" ng-controller="SensorController as senCtrl">
          <div class="box sensors">
            <i class="fa fa-database" aria-hidden="true"></i>
            <p class="title">SENSORS</p>
            <p class="circle">{{vm.sensorData.length}}</p>
            <div class="plus-list">
              <span class="glyphicon glyphicon-plus" ng-click="senCtrl.openSensorModal()"></span><small>ADD</small></span>
              <span class="glyphicon glyphicon-th-list" ng-click="senCtrl.openSensorListModal()"></span><small>&nbspEDIT</small></span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="box messages">
            <i class="fa fa-database" aria-hidden="true"></i>
            <p class="title">MESSAGES</p>
            <p class="circle">{{vm.messages}}</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="box alarms">
            <i class="fa fa-bell" aria-hidden="true"></i>
            <p class="title">ALARMS</p>
            <p class="circle">0</p>
            <div class="plus-list">
              <span class="glyphicon glyphicon-plus" ng-click="devCtrl.openDeviceModal()"><small>ADD</small></span>
              <span class="glyphicon glyphicon-th-list" ng-click="devCtrl.openDeviceListModal()"><small>&nbspEDIT</small></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <canvas  id="pie" class="chart chart-line" chart-legend="true" chart-data="data" chart-labels="labels">
          </canvas>
        </div>
          <div class="col-sm-3">
            <div class="box activated" ng-controller="ActivateController as actCtrl">
              <p class="title">ACCOUNT STATUS</p>
              <p ng-show="vm.activated" class="beacon"></p>
              <p ng-show="!vm.activated" class="beacon deactive"></p>
              <button ng-show="vm.activated" class="on" aria-hidden="true" ng-click="actCtrl.deActivate()">DEACTiVATE</button>
              <button ng-show="!vm.activated" class="off" aria-hidden="true" ng-click="actCtrl.openActivationModal()">Activate</button>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          Some data

        </div>
        <div class="col-sm-6">
          Some data
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
          <select class="" name="">
            <option ng-repeat="sensor in vm.sensorData">{{sensor.sensorName}}</option>
          </select>
          <div ng-repeat="measurement in vm.sensorData[1].data">
            {{measurement}}</br>
          </div>
            <p>Historical data Graph</p>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            Live Data
            <table class="table-striped">
              <thead>
                <tr>
                  <th>
                    Sensor 1
                  </th>
                  <th>
                    Sensor 2
                  </th>
                  <th>
                    Sensor 3
                  </th>
                </tr>
              </thead>
              <tbody>

              <tr>
                <td>
                  23
                </td>
                <td>
                  45
                </td>
                <td>
                  46
                </td>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            Alarms
            <table class="table-striped">
              <thead>
                <tr>
                  <th>
                    Sensor 1
                  </th>
                  <th>
                    Sensor 2
                  </th>
                  <th>
                    Sensor 3
                  </th>
                </tr>
              </thead>
              <tbody>

              <tr>
                <td>
                  Green
                </td>
                <td>
                  Red
                </td>
                <td>
                  Green
                </td>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
