


<div class="container-fluid">
  <div class="col-xs-12">
     <ul class="breadcrumb">
         <li><a href="#">Home</a></li>
         <li class="active">Dashboard</li>
     </ul>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class=" text-center">
        <h4 class="dashboard">Dashboard&nbsp<i class="fa fa-tachometer" aria-hidden="true"></i>
        </h4>
      </div>
    </div>
    </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="box devices" ng-controller="DeviceController as devCtrl" >
            <i class="fa fa-database" aria-hidden="true"></i>
            <p class="title">DEVICES</p>
            <p class="circle">{{vm.deviceData.length}}</p>
            <div class="plus-list">
              <span class="glyphicon glyphicon-plus" ng-click="devCtrl.openDeviceModal()"><small>ADD</small></span>
            </div>
          </div>
        </div>
        <div class="col-sm-3" ng-controller="SensorController as senCtrl">
          <div class="box sensors">
            <i class="fa fa-database" aria-hidden="true"></i>
            <p class="title">SENSORS</p>
            <p class="circle">{{vm.sensorData.length}}</p>
            <div class="plus-list">
              <span class="glyphicon glyphicon-plus" ng-click="senCtrl.openSensorModal()"><small>ADD</small></span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="box messages">
            <i class="fa fa-database" aria-hidden="true"></i>
            <p class="title">MESSAGES</p>
            <p class="circle">{{vm.messages}}</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="box alarms">
            <i class="fa fa-bell" aria-hidden="true"></i>
            <p class="title">ALARMS</p>
            <p class="circle">0</p>
            <div class="plus-list">
              <span class="glyphicon glyphicon-plus" ng-click="devCtrl.openDeviceModal()"><small>ADD</small></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-6">
            <div id="chart-container"></div>
          </div>
          <div class="col-sm-6">
            <div class="box-account" >
              <table class="table table-bordered" ng-controller="ActivateController as actCtrl">
                <caption>MQTT Account</caption>
                <thead>
                  <tr>
                    <th>Account Name</th>
                    <th>Status</th>
                    <th>Settings</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{vm.currentUser}}</td>
                  <td>
                    <p ng-show="vm.activated" class="beacon"></p>
                    <p ng-show="!vm.activated" class="beacon deactive"></p>
                  </td>
                  <td><button class="btn btn-sm btn-success" ng-click="actCtrl.openActivationModal()"> Active/Deactivate</button></td>
              </tr>
              </tbody>
          </table>
         </div>
         <div class="well">
           Tip!!
           To send a MQTT message from a sensor use the following format:
           <ul>
             <li>Payload: '{"d":{"temp": value,"humidity":value,...}}''</li>
             <li>Topic: 'mysensor/my_username/sensorId'</li>

           </ul>

         </div>
       </div>
      </div>
    <div class="row">
           <div class="col-lg-3 col-md-4 col-sm-6 sensor-device-list" ng-repeat="sensor in vm.liveData">
             <p class="sensorName text-center">{{sensor.sensorName}}<br><small>click on sample type to change chart</small></p>
              <div class="text-center" ng-repeat="data in sensor.payload">
               <p class="sensorData"><small><a ng-click="vm.updateChart(sensor._id,data.type)">{{data.type}}</a></small><br>&nbsp{{data.value}}</p>
             </div>
           </div>

    <div class="col-lg-3 col-md-4 col-sm-6" ng-controller="SensorController as vm" ng-repeat="sensor in vm.sensorData">
      <div class=" sensor-device-list">
        <div class="">
        <h4 class="text-left"><img class="" src="app/images/sensor_icon.jpg">&nbsp{{sensor.sensorName}}</h4>
        </div>
        <div class="text-box">
          <p>id:{{sensor._id}}</p>
          <p class="wrap">
            This is a {{sensor.sensorType.type}} sensor. It's currently receiving {{sensor.measures}} data. To send from this sensor use the topic:<br>
            <em>mysensor/{{vm.currentUser}}/{{sensor._id}}</em>
          </p>
          <p>
            <button ng-click="vm.openSensorEditModal(sensor._id)" class="btn btn-sm btn-success">Edit</button>
            <button ng-click="vm.openSensorDeleteModal(sensor._id)" class="btn btn-sm btn-danger">Delete</button>
          </p>
        </div>
      </div>
    </div>


    <div class="col-lg-3 col-md-4 col-sm-6" ng-controller="DeviceController as vm" ng-repeat="device in vm.deviceData">
      <div class="sensor-device-list ">
        <div class="">
           <h4 class="text-left"><img class="" src="app/images/raspberry.jpeg">&nbsp{{device.deviceName}}</h4>
        </div>
        <div class="text-box">
          <p>id:{{device._id}}</p>
          <p class="wrap">
            This is a {{device.deviceType}} device. To send from this device use the topic:<br>
            <em>mysensor/{{vm.currentUser}}/d/{{device._id}}</em>
          </p>
          <p>
            <button ng-click="vm.openDeviceEditModal(device._id)" class="btn btn-sm btn-success">Edit</button>
            <button ng-click="vm.openDeviceDeleteModal(device._id)" class="btn btn-sm btn-danger">Delete</button>
          </p>
        </div>
      </div>
    </div>

 </div>
</div>
